@mixin colors($color) {
  .btn {
    background-color: $color;
    color: white;

    &:hover {
      background-color: darken($color, 10%);
    }

    &.marked, &.locked, &.failed {
      background-color: darken($color, 30%);

      &:hover {
        background-color: darken($color, 40%);
      }
    }

    &.skipped {
      background-color: lighten($color, 20%);

      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }

  &.btn {
    background-color: white;
    border: 1vmin solid $color;
    color: $color;
  }
}

.red {
  @include colors(#d9534f);
}

.yellow {
  @include colors(#f0ad4e);
}

.green {
  @include colors(#5cb85c);
}

.blue {
  @include colors(#337ab7);
}

.fails {
  @include colors(#aeaeae);
}

.total {
  @include colors(#000000);
}
