@mixin colors($color) {
  &.open {
    background-color: $color;
    color: white;

    &:hover {
      background-color: darken($color, 10%);
      color: white;
    }
  }

  &.marked, &.locked, &.failed {
    background-color: darken($color, 30%);
    color: white;
  }

  &.skipped {
    background-color: lighten($color, 20%);
    color: white;
  }

  &.points {
    background-color: white;
    border: 1vmin solid $color;
    color: $color;
  }
}

.red {
  @include colors(#d9534f);
}

.yellow {
  @include colors(#f0ad4e);
}

.green {
  @include colors(#5cb85c);
}

.blue {
  @include colors(#337ab7);
}

.fail {
  @include colors(#aeaeae);
}

.total {
  @include colors(#000000);
}
