@mixin colors($color) {
  &.open {
    background-color: $color;
    color: white;
  }

  &.marked, &.locked, &.failed {
    background-color: darken($color, 30%);
    color: white;
  }

  &.skipped {
    background-color: lighten($color, 20%);
    color: white;
  }

  &.disabled {
    background-color: lighten($color, 15%);
    color: white;
    opacity: 1;
  }

  &.points {
    background-color: white;
    border: 1vmin solid $color;
    color: $color;
  }
}

.red {
  @include colors(#d9534f);
}

.yellow {
  @include colors(#f0ad4e);
}

.green {
  @include colors(#5cb85c);
}

.blue {
  @include colors(#337ab7);
}

.fail {
  @include colors(#aeaeae);
}

.total {
  @include colors(#000000);
}

@mixin bigPointColor($colorA, $colorB) {
  background-image: -webkit-linear-gradient(top, $colorA, $colorA 50%, $colorB 50%);
  background-image: linear-gradient(to bottom, $colorA, $colorA 50%, $colorB 50%);
}

@mixin bigPointColors($colorA, $colorB) {
  &.open {
    @include bigPointColor($colorA, $colorB);
    color: white;

    &.markedLinkedRowIndex0 {
      @include bigPointColor($colorA, lighten($colorB, 15%));
      color: white;
    }

    &.markedLinkedRowIndex1 {
      @include bigPointColor(lighten($colorA, 15%), $colorB);
      color: white;
    }
  }

  &.marked {
    @include bigPointColor(darken($colorA, 30%), darken($colorB, 30%));
    color: white;
  }

  &.skipped {
    @include bigPointColor(lighten($colorA, 20%), lighten($colorB, 20%));
    color: white;
  }

  &.disabled {
    @include bigPointColor(lighten($colorA, 15%), lighten($colorB, 15%));
    color: white;
    opacity: 1;
  }
}

.red-yellow {
  @include bigPointColors(#d9534f, #f0ad4e);
}

.green-blue {
  @include bigPointColors(#5cb85c, #337ab7);
}
