// iPhone 3 and 4 portrait
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait) {
  .container-fluid {
    width: 480px;
  }
}

// iPhone 3 and 4 landscape
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape) {
  .row {
    height: calc(320px / 6);
  }
}

// iPhone 5 portrait
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait) {
  .container-fluid {
    width: 568px;
  }
}

// iPhone 5 landscape
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape) {
  .row {
    height: calc(320px / 6);
  }
}

// iPad portrait
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .container-fluid {
    width: 1024px;
  }
}

// iPad landscape
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .row {
    height: calc(768px / 6);
  }
}
