html, body, .container-fluid {
  height: 100%;

  :not(.bigPoints) .row {
    height: calc(100% / 7);
  }

  .bigPoints .row {
    height: calc(100% / 9);
  }
}

@media all and (orientation:portrait) {
  .container-fluid {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 100%;
  }
}

@media all and (orientation:portrait) {
  .container-fluid {
    width: 100vh;
    height: 100vw;

    :not(.bigPoints) .row {
      height: calc(100vw / 7);
    }

    .bigPoints .row {
      height: calc(100vw / 9);
    }
  }
}
