html, body, .container-fluid {
  height: 100%;
}

.row {
  height: calc(100% / 6);
}

@media all and (orientation:portrait) {
  .container-fluid {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 100%;
  }
}

@media all and (orientation:portrait) {
  .container-fluid {
    width: 100vh;
    height: 100vw;
  }

  .row {
    height: calc(100vw / 6);
  }

  @media (device-width: 320px) and (device-height: 480px) {
    .container-fluid {
      width: 480px;
    }
  }
  @media (device-width: 320px) and (device-height: 568px) {
    .container-fluid {
      width: 568px;
    }
  }
  @media (device-width: 768px) and (device-height: 1024px) {
    .container-fluid {
      width: 1024px;
    }
  }
}
