@import 'colors';
@import 'margins';
@import 'orientation';

.row {
  display: flex;
  display: -webkit-flex;
}

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 4vmin;
  font-weight: bold;
  border-radius: 3vmin;
}

.red-yellow, .green-blue {
  border-radius: 50%;
}

.revert, .rules, .theme, .refresh {
  font-size: 2.5vmin;
}

.badge {
  font-size: 1.5vmin;
  font-weight: bold;
}

.finished .btn:not(.revert):not(.rules):not(.theme):not(.refresh), .disabled, .marked, .skipped, .locked, .failed, .points, .active, .empty {
  pointer-events: none;
}
