@import 'colors';
@import 'margins';
@import 'orientation';

.row {
  display: flex;
  display: -webkit-flex;
}

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 3vmin;
  font-weight: bold;
  border-radius: 3vmin;
}

.finished .btn:not(.revert):not(.theme):not(.refresh), .disabled, .marked, .skipped, .locked, .failed, .points, .active {
  pointer-events: none;
}
