@import 'colors';
@import 'margins';
@import 'orientation';
@import 'ios7-vh-workaround';

.row {
  display: flex;
  display: -webkit-flex;
}

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 5vmin;
  font-weight: bold;
  border-radius: 3vmin;
}

.results .btn {
  &.red, &.yellow, &.green, &.blue, &.fails, &.total {
    pointer-events: none;
  }
}
